{{!< default}}

<h1 class="title">Edit Note</h1>

<hr />

<div class="content">
  <form action="/edit/{{_id}}" method="post">
    <input type="hidden" name="_id" id="_id" value="{{_id}}" required>
    {{> inputs}}

    <p>
      <input type="checkbox" name="finished" id="finished"
        {{#if finished}} value="1" checked="checked" {{else}} value="0" {{/if}}>
      <label for="finished"><i></i>Done</label>
    </p>

    <p class="btn-group">
      <a class="btn btn--alert" href="/">Cancel</a>
      <input class="btn btn--primary" type="submit" value="Update" />
    </p>
  </form>
</div>
