{{!< default}}

<h1>Edit Note</h1>

<div class="content">
  <form action="/edit/{{note._id}}" method="post">
    <input type="hidden" name="_id" id="_id" value="{{note._id}}" required>
    {{> inputs note=note}}

    <p>
      <input type="checkbox" name="finished" id="finished"
        {{#if note.finished}} value="1" checked="checked" {{else}} value="0" {{/if}}>
      <label for="finished"><i></i>Done</label>
    </p>

    <p class="btn-group">
      <a class="btn btn--alert" href="/">Cancel</a>
      <input class="btn btn--primary btn--shift-right" type="submit" value="Update" />
    </p>
  </form>
</div>
