{{!< default}}

<h1 class="title">Create Note</h1>

<hr />

<div class="content">
  <form action="/new" method="post">
    <div class="control is-horizontal">
      <div class="control-label">
        <label for="title" class="label">Title</label>
      </div>
      <div class="control">
        <input class="input" type="text" name="title" id="title" placeholder="Title" required>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label for="description" class="label">Description</label>
      </div>

      <div class="control">
        <textarea class="textarea" name="description" id="description" placeholder="Description" required></textarea>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label for="priority" class="label">Priority</label>
      </div>

      <div class="control">
        <input class="input" type="text" name="priority" id="priority" placeholder="Priority"
        required>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label for="finishedBy" class="label">Finished by</label>
      </div>

      <div class="control">
        <input class="input" type="date" name="finishedBy" id="finishedBy" required>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
      </div>

      <div class="control">
        <label for="finished" class="checkbox">
          <input type="checkbox" name="finished" id="finished">
          Done
        </label>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
      </div>

      <div class="control">
        <a class="button" href="/">Cancel</a>
        <input class="button is-primary" type="submit" value="Create" />
      </div>
    </div>
  </form>
</div>
