{{!< default}}

<h1>Create Note</h1>

<div class="content">
  <form action="/new" method="post">
    {{> inputs note=note}}

    <p class="btn-group">
      <a class="btn btn--alert" href="/">Cancel</a>
      <input class="btn btn--primary btn--shift-right" type="submit" value="Create" />
    </p>
  </form>
</div>
