{{!< default}}

<h1 class="title">Create Note</h1>

<hr />

<div class="content">
  <form action="/new" method="post">
    {{> inputs}}

    <p class="btn-group">
      <a class="btn" href="/">Cancel</a>
      <input class="btn" type="submit" value="Create" />
    </p>
  </form>
</div>
