{{!< default}}

<h1 class="title">Create Note</h1>

<hr />

<div class="content">
  <form action="/new" method="post">

    {{> inputs}}

    <div class="control is-horizontal">
      <div class="control-label">
      </div>

      <div class="control">
        <a class="button" href="/">Cancel</a>
        <input class="button is-primary" type="submit" value="Create" />
      </div>
    </div>
  </form>
</div>
