@import url(normalize.css);
body {
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px; }

.header {
  background-color: #00d1b2;
  padding: 10px; }

.nav {
  display: flex; }

.nav__right {
  flex: 1 auto;
  display: flex;
  justify-content: flex-end; }

.note {
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1);
  max-width: 400px;
  margin: 0 auto 20px auto; }

.note__header,
.note__content,
.note__footer {
  padding: 10px; }

.note__header {
  display: flex;
  border-bottom: 1px solid #f2f2f2; }

.note__title,
.note__priority {
  flex: 1 auto; }

.note__priority {
  display: flex;
  justify-content: flex-end; }

.note__footer {
  border-top: 1px solid #f2f2f2; }

.btn {
  background-color: #00d1b2;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  padding: 6px 10px; }
  .btn:hover {
    background-color: #f2f2f2;
    color: #333; }

.btn--inverted {
  background-color: #fff;
  color: #00d1b2; }
  .btn--inverted:hover {
    color: #00d1b2; }

.btn--logo {
  border-width: 0; }
  .btn--logo:hover {
    background-color: transparent;
    color: #fff; }
