<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/styles/application.css"/>
    {{{block "pageStyles"}}}
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="nav__left">
          <a class="btn" href="/">
            NOTES
          </a>
        </div>

        <div class="nav__right">
          <span class="nav__item">
            {{#if_eq style "dark"}}
              <a class="btn" href="/?style=light">Light Style</a>
            {{else}}
              <a class="btn" href="/?style=dark">Dark Style</a>
            {{/if_eq}}
            <a class="btn btn--primary" href="/new">Create new note</a>
          </span>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="notification">
          {{{body}}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>
</html>
