<html>
  <head>
    <title>{{title}}</title>
    {{#if_eq style "dark"}}
      <link type="text/css" rel="stylesheet" href="/styles/application--dark.css"/>
    {{else}}
      <link type="text/css" rel="stylesheet" href="/styles/application.css"/>
    {{/if_eq}}
    {{{block "pageStyles"}}}
  </head>
  <body>
    <header class="header">
      <a class="btn btn--logo" href="/">
        NOTES
      </a>
    </header>

    <main>
      <div class="container">
        {{{body}}}
      </div>
    </main>

    {{> scripts}}
  </body>
</html>
