<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/styles/application.css"/>
    {{{block "pageStyles"}}}
  </head>
  <body>
    <div class="container is-fluid">
      <div class="notification">
        {{{body}}}
      </div>
    </div>

    {{> scripts}}
  </body>
</html>
