<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{{title}}</title>

    {{#if_eq style "dark"}}
      <link type="text/css" rel="stylesheet" href="/styles/application--dark.css"/>
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon--dark.png">
    {{else}}
      <link type="text/css" rel="stylesheet" href="/styles/application.css"/>
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
    {{/if_eq}}
  </head>
  <body>
    <header class="header">
      <a class="btn btn--logo" href="/">
        NOTES
      </a>
    </header>

    <main>
      <div class="container">
        {{{body}}}
      </div>
    </main>
  </body>
</html>
