.btn {
  background-color: $color__bright;
  color: $color__dark;
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid $color__accent--light;
  border-radius: $border__radius;
  padding: 6px 10px;
  margin-bottom: 8px;
  line-height: 1.33;
  box-sizing: content-box;

  &:hover {
    background-color: $color__primary;
    border-color: $color__primary;
    color: $color__bright;
    cursor: pointer;
  }
}

.btn--logo {
  border-width: 0;
  background-color: transparent;
  color: $color__bright;
  margin: 0;

  &:hover {
    color: $color__bright;
  }
}

.btn--primary {
  background-color: $color__primary;
  border-color: $color__primary;
  color: $color__bright;

  &:hover {
    color: $color__bright;
    background-color: $color__accent--dark;
    border-color: $color__accent--dark;
  }
}

.btn--alert {
  background-color: $color__alert;
  border-color: $color__alert;
  color: $color__bright;

  &:hover {
    color: $color__bright;
    background-color: $color__accent--dark;
    border-color: $color__accent--dark;
  }
}

.btn--active {
  background-color: $color__primary;
  border-color: $color__primary;
  color: $color__bright;

  &:hover {
    color: $color__bright;
  }
}

.btn--shift-right {
  margin-left: auto;
  margin-right: 0;
}

@include mq(medium) {
  .btn {
    margin-right: 8px;
  }
}
