$option__checkbox-size: 20px;
$option__border-size: 1px;
$option__label-size: 42px;
$option__label-padding: ($option__label-size - $option__checkbox-size) / 2;

$option__checkbox-knuble-size: $option__checkbox-size / 2;
$option__checkbox-knuble-distance: $option__checkbox-knuble-size / 2;

$option--alternate-color: $color__bright;

[type='checkbox'] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);

  + label {
    position: relative;
    vertical-align: top;
    padding: $option__label-padding $option__label-padding $option__label-padding $option__label-size;
    margin-bottom: 0;

    i {
      position: absolute;
      box-sizing: border-box;
      top: ($option__label-size - $option__checkbox-size) / 2;
      left: ($option__label-size - $option__checkbox-size) / 2;

      &::before {
        content: '';
        display: block;
        border: $option__border-size solid $color__accent;
        background-color: $color__bright;
        width: $option__checkbox-size;
        height: $option__checkbox-size;
      }

      &::after {
        content: '';
        display: none;
        position: absolute;
        background-color: $color__primary;
        width: $option__checkbox-knuble-size;
        height: $option__checkbox-knuble-size;
        left: $option__checkbox-knuble-distance;
        top: $option__checkbox-knuble-distance;
      }

      &::before,
      &::after {
        box-sizing: inherit;
      }
    }
  }

  &:checked,
  &:checked:hover {
    + label {
      i {
        &::before {
          color: $color__primary;
          border-color: currentColor;
        }

        &::after {
          display: inline-block;
        }
      }
    }
  }

  &:not(:checked) + label:hover {
    i::before {
      color: $color__accent--dark;
      border-color: currentColor;
    }
  }
}

@include mq(medium) {
  form {
    [type="checkbox"] + label {
      flex: 1 auto;
      margin-left: 150px;
    }
  }
}
