// COLORS
// --------------------------
// COLOR NAMING
// use general variable naming!
$color__dark:               #fff;
$color__bright:             #333;

$color__primary:            $yellow;

$color__accent:             rgba($color__dark, 0.5);
