// COLORS
// --------------------------
// General colors
$orange:    hsl(14,  100%, 53%);
$yellow:    hsl(48,  100%, 67%);
$green:     hsl(141, 71%,  48%);
$turquoise: hsl(171, 100%, 41%);
$blue:      hsl(217, 71%,  53%);
$purple:    hsl(271, 100%, 71%);
$red:       hsl(348, 100%, 61%);

// COLOR NAMING
// use general variable naming!
$color__dark:               #333;
$color__bright:             #fff;

$color__primary:            $turquoise;
$color__secondary:          #d7d7d7;

$color__accent:             rgba($color__dark, 0.5);
$color__accent--light:      #f2f2f2;
$color__accent--dark:       #848484;

$color__alert:              $red;
$color__success:            #43ac6a;
$color__warning:            #f08a24;
$color__info:               #a0d3e8;
