// MEDIAQUERIES
// ----------------------------------------
// 640px, 800px, 1200px
$breakpoints: (
  medium:   40em,
  large:    50em,
  xlarge:   75em
);

// SPACES
// ----------------------------------------
$space__default-value: 10;  // e.g. used for paddings

$grid__paddings: (
  small: 10px,
  medium: 15px,
  large: 20px
);

// TYPO
// ----------------------------------------
$font-weight--light:         300;
$font-weight--regular:       400;
$font-weight--medium:        400;
$font-weight--bold:          700;

$body__font-family:           'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
$body__font-size:             100%;
$body__font-weight:           normal;
$body__font-style:            normal;
$body__font-color:            $color__dark;
$body__line-height:           1.2;
$body__background-color:      $color__bright;

// HEADINGS
$heading__font-family:        $body__font-family;
$heading__font-weight:        900;
$heading__font-style:         normal;
$heading__font-color:         $body__font-color;
$heading__text-rendering:     auto;

// PARAGRAPHS
$paragraph__font-family:      inherit;
$paragraph__font-weight:      normal;
$paragraph__font-size:        16px;
$paragraph__line-height:      1.5;
$paragraph__margin-bottom:    12px;
$paragraph__text-rendering:   auto;

// ANCHORS
$anchor__text-decoration:     none;
$anchor__font-color:          $color__primary;
$anchor__font-color-hover:    $color__secondary;
$anchor__font-color-active:   $color__dark;

// BORDER RADIUS
$border__color:                $color__accent--light;
$border__radius:               3px;
$border__radius--round:        100%;
